---
import BrandLogo from "~/presentation/src/shared/components/BrandLogo.astro";
import { SITE, PAGES } from "~/presentation/src/shared/constants/constants";
import { useI18nStatic } from "~/presentation/src/shared/hooks/useI18n";
import { TranslationKeys } from "~/domain/models/TranslationKey";
import FooterSocialLink from "~/presentation/src/shared/components/ui/links/FooterSocialLink.astro";
import Icon from "~/presentation/src/shared/components/ui/icons/Icon.astro";
import CompanyData from "~/domain/data/Company";
import IconBlock from "~/presentation/src/shared/components/ui/blocks/IconBlock.astro";

const { translate, currentLocale } = useI18nStatic(Astro.url);

const footerSections = [
  {
    title: translate(TranslationKeys.footer_company),
    links: [
      {
        name: translate(TranslationKeys.footer_about),
        url: `/${Astro.currentLocale}/about/`,
      },
      {
        name: translate(TranslationKeys.common_contact),
        url: PAGES.contact.paths[currentLocale],
      },
    ],
  },
  {
    title: translate(TranslationKeys.footer_services),
    links: [
      {
        name: translate(TranslationKeys.common_products),
        url: PAGES.products.paths[currentLocale],
      },
      {
        name: translate(TranslationKeys.common_posts),
        url: PAGES.posts.paths[currentLocale],
      },
      {
        name: translate(TranslationKeys.faq_short_title),
        url: PAGES.faq.paths[currentLocale],
      },
    ],
  },
];
---

<footer class="relative w-full overflow-hidden shadow-lg">
  <!-- Horizontal Pipe -->
  <div class="absolute bottom-12 right-0 flex h-6 w-full items-center">
    <!-- Heat Pipe -->
    <div class="h-4 w-full bg-gradient-to-b from-gray-100 to-gray-300 shadow-inner"></div>
  </div>

  <!-- Radiator -->
  <div class="relative mx-auto w-full max-w-[85rem] px-4 py-10 sm:px-6 lg:px-16 lg:pt-20 2xl:max-w-screen-2xl">
    <!-- Radiator top border -->
    <div class="h-4 w-full rounded-t-lg bg-gradient-to-r from-neutral-400 to-neutral-300 shadow-inner"></div>

    <div
      class="relative grid grid-cols-1 gap-x-12 gap-y-8 bg-gradient-to-b from-neutral-100 to-neutral-200 px-2 py-8 md:grid-cols-3 lg:px-8"
    >
      <!-- Top Left Valve -->
      <div class="absolute -left-6 -top-3 z-20 h-full">
        <div
          class="relative size-6 rounded-full border-2 border-neutral-400 bg-gradient-to-br from-neutral-300 to-neutral-400 shadow-lg"
        >
          <div class="absolute inset-0 flex items-center justify-center">
            <div class="size-2 -rotate-45 transform rounded-full bg-neutral-600"></div>
          </div>
        </div>

        <!-- Top Left Valve Heat Pipe -->
        <div class="-mt-2 ms-[0.4rem] h-full w-3 bg-gradient-to-b from-gray-100 to-gray-300 shadow-inner"></div>
        <!-- Horizontal Pipe -->
        <div class="absolute -bottom-5 right-0 flex h-6 w-full items-center">
          <!-- Heat Pipe -->
          <div class="h-4 w-full bg-gradient-to-b from-gray-100 to-gray-300 shadow-inner"></div>
        </div>
      </div>

      <!-- Bottom Right Valve -->
      <div class="absolute -bottom-2 -right-6 z-20">
        <div
          class="size-6 rounded-full border-2 border-neutral-400 bg-gradient-to-br from-neutral-300 to-neutral-400 shadow-lg"
        >
          <div class="absolute inset-0 flex items-center justify-center">
            <div class="size-2 rotate-45 transform rounded-full bg-neutral-600"></div>
          </div>
        </div>
      </div>
      <!-- Vertical radiator fins effect -->
      <div class="pointer-events-none absolute inset-0 flex hidden justify-between md:flex">
        {
          [...Array(60)].map(() => (
            <div class="h-full w-px bg-gradient-to-b from-neutral-200 to-neutral-300 opacity-50" />
          ))
        }
      </div>
      <div class="pointer-events-none absolute inset-0 flex justify-between md:hidden">
        {
          [...Array(20)].map(() => (
            <div class="h-full w-px bg-gradient-to-b from-neutral-200 to-neutral-300 opacity-50" />
          ))
        }
      </div>

      <!-- Logo Column -->
      <div class="relative z-10 flex flex-col items-center justify-center text-center">
        <!-- Brand Logo -->
        <BrandLogo imageClass="h-12" textClass="text-4xl" />
        <p class="mt-4 text-sm font-medium text-neutral-700">
          © <span id="current-year"></span>
          {SITE.title}. {translate(TranslationKeys.footer_copyright)}
        </p>
      </div>

      <!-- Middle Sections Column -->
      <div class="relative z-10 flex flex-col gap-8">
        <div class="grid grid-cols-2 gap-x-4">
          {
            footerSections.map((section) => (
              <div class="flex flex-col items-center text-center">
                <h3 class="font-bold text-neutral-800">{section.title}</h3>
                <ul class="mt-3 grid space-y-3">
                  {section.links.map((link) => (
                    <li>
                      <a
                        href={link.url}
                        class="inline-flex gap-x-2 rounded-lg text-neutral-700 outline-none ring-zinc-500 transition duration-300 hover:text-neutral-900 focus-visible:ring"
                      >
                        {link.name}
                      </a>
                    </li>
                  ))}
                </ul>
              </div>
            ))
          }
        </div>
      </div>

      <!-- Contact Column -->
      <div class="relative z-10 flex flex-col items-center justify-center">
        <IconBlock icon="mapPin">
          <p class="text-sm text-neutral-800">
            {CompanyData.address.full.replace(/{{(.*?)}}/g, (_, key) => translate(key))}
          </p>
        </IconBlock>

        <div class="mt-4 flex items-center justify-center gap-3">
          {
            [
              ...Object.entries({
                phone: `tel:${CompanyData.tel}`,
                email: `mailto:${CompanyData.email}`,
              }),
              ...Object.entries(CompanyData.socials),
            ].map(([name, url]) => (
              <FooterSocialLink url={url}>
                <Icon name={name} class="size-6 text-neutral-700 transition-colors hover:text-neutral-900" />
              </FooterSocialLink>
            ))
          }
        </div>
      </div>
    </div>

    <!-- Radiator bottom border -->
    <div class="h-4 w-full rounded-b-lg bg-gradient-to-r from-neutral-400 to-neutral-300 shadow-inner"></div>
  </div>

  <div class="col-span-full lg:col-span-1">
    <script>
      const year = new Date().getFullYear();
      const element = document.getElementById("current-year");
      element!.innerText = year.toString();
    </script>
  </div>
</footer>

<style>
  /* Pipe shine effect */
  .absolute.right-0.bottom-8 .w-full::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.4);
  }

  /* Valve shine effect */
  .w-10.h-10.rounded-full::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
  }
</style>
