---
// Import the necessary components
import MainLayout from "~/presentation/shared/layouts/MainLayout.astro";
import HeroSection from "~/presentation/shared/components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "~/presentation/shared/components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "~/presentation/shared/components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "~/presentation/shared/components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "~/presentation/shared/components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "~/presentation/shared/components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "~/presentation/shared/components/sections/pricing/PricingSection.astro";
import FAQ from "~/presentation/shared/components/sections/misc/FAQ.astro";
import AnnouncementBanner from "~/presentation/shared/components/ui/banners/AnnouncementBanner.astro";
import heroImage from "~/presentation/shared/assets/images/image-not-found.svg";
import faqs from "~/domain/data/faqs.json";
import features from "~/domain/data/features.json";
import pricing from "~/domain/data/pricing.json";
import featureImage from "~/presentation/shared/assets/images/image-not-found.svg";
import construction from "~/presentation/shared/assets/images/image-not-found.svg";
import tools from "~/presentation/shared/assets/images/image-not-found.svg";
import dashboard from "~/presentation/shared/assets/images/image-not-found.svg";
import { useI18nStatic } from "../../shared/hooks/useI18n";
import { TranslationKeys } from "~/domain/models/TranslationKey";
import Contacts from "~/domain/data/Contacts";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];

const { translate } = useI18nStatic(Astro.url);
---

<MainLayout>
  <AnnouncementBanner 
  title={translate(TranslationKeys.contact_call_us)}
  btnId="dismiss-button" btnTitle={translate(TranslationKeys.contact_call)} url={`tel:${Contacts.tel}`} />

  <HeroSection
    title=`Equip Your Projects with <span
        class="text-yellow-500 dark:text-yellow-400">Antkaya İklimlendirme</span>`
    subTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    primaryBtn="Start Exploring"
    primaryBtnURL="/products"
    secondaryBtn="Contact Sales Team"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Stack of Antkaya İklimlendirme product boxes containing assorted hardware tools"
  />

  <ClientsSection
    title="Trusted by Industry Leaders"
    subTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
  />

  <FeaturesGeneral
    title="Meeting Industry Demands"
    subTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    src={featureImage}
    alt="Antkaya İklimlendirme products in floating boxes"
    features={features}
  />

  <FeaturesNavs
    title=`Customize <span class="text-yellow-500 dark:text-yellow-400">Antkaya İklimlendirme</span>'s offerings to perfectly suit your hardware and construction needs.`
    tabs={[
      {
        heading: "Cutting-Edge Tools",
        content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Intuitive Dashboards",
        content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Robust Features",
        content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    testimonials={[
      {
        content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
      },
      {
        count: "35%",
        description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
      },
      {
        count: "15.3%",
        description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
      },
      {
        count: "2x",
        description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
      },
    ]}
  />

  <PricingSection pricing={pricing} />

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <HeroSectionAlt
    title="Let's Build Together"
    subTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    url="https://github.com/mearashadowfax/Antkaya İklimlendirme"
  />
</MainLayout>
