---
// Import the necessary components
import MainLayout from "~/presentation/shared/layouts/MainLayout.astro";
import HeroSection from "~/presentation/shared/components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "~/presentation/shared/components/sections/landing/HeroSectionAlt.astro";
import BrandsSection from "~/presentation/shared/components/sections/landing/BrandsSection.astro";
import FeaturesGeneral from "~/presentation/shared/components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "~/presentation/shared/components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "~/presentation/shared/components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "~/presentation/shared/components/sections/pricing/PricingSection.astro";
import FAQ from "~/presentation/shared/components/sections/misc/FAQ.astro";
import AnnouncementBanner from "~/presentation/shared/components/ui/banners/AnnouncementBanner.astro";
import heroImage from "~/presentation/shared/assets/images/living-room.webp";
import faqs from "~/domain/data/faqs.json";
import features from "~/domain/data/features.json";
import pricing from "~/domain/data/pricing.json";
import featureImage from "~/presentation/shared/assets/images/image-not-found.svg";
import construction from "~/presentation/shared/assets/images/image-not-found.svg";
import tools from "~/presentation/shared/assets/images/image-not-found.svg";
import dashboard from "~/presentation/shared/assets/images/image-not-found.svg";
import { useI18nStatic } from "~/presentation/shared/hooks/useI18n";
import { TranslationKeys } from "~/domain/models/TranslationKey";
import Contacts from "~/domain/data/Contacts";
import { PAGES } from "~/presentation/shared/constants/constants";

const { translate, currentLocale } = useI18nStatic(Astro.url);
---

<MainLayout>
  <AnnouncementBanner
    title={translate(TranslationKeys.contact_call_us)}
    btnId="dismiss-button"
    btnTitle={translate(TranslationKeys.contact_call)}
    url={`tel:${Contacts.tel}`}
  />

  <HeroSection
    title={translate(TranslationKeys.home_hero_title)}
    subTitle={translate(TranslationKeys.home_hero_subtitle)}
    primaryBtn={translate(TranslationKeys.home_hero_primary_btn)}
    primaryBtnURL={PAGES.services.paths[currentLocale]}
    secondaryBtn={translate(TranslationKeys.home_hero_secondary_btn)}
    secondaryBtnURL={PAGES.contact.paths[currentLocale]}
    withReview={true}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={5}
    reviews={translate(TranslationKeys.home_hero_reviews)}
    src={heroImage}
    alt="Modern air conditioning system installation and service"
  />

  <BrandsSection
    title={translate(TranslationKeys.brands_section_title)}
    subTitle={translate(TranslationKeys.brands_section_subtitle)}
  />

  <FeaturesGeneral
    title="Meeting Industry Demands"
    subTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    src={featureImage}
    alt="Antkaya İklimlendirme products in floating boxes"
    features={features}
  />

  <FeaturesNavs
    title=`Customize <span class="text-yellow-500 dark:text-yellow-400">Antkaya İklimlendirme</span>'s offerings to perfectly suit your hardware and construction needs.`
    tabs={[
      {
        heading: "Cutting-Edge Tools",
        content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Intuitive Dashboards",
        content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Robust Features",
        content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    testimonials={[
      {
        content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
      },
      {
        count: "35%",
        description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
      },
      {
        count: "15.3%",
        description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
      },
      {
        count: "2x",
        description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
      },
    ]}
  />

  <PricingSection pricing={pricing} />

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <HeroSectionAlt
    title="Let's Build Together"
    subTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    url="https://github.com/mearashadowfax/Antkaya İklimlendirme"
  />
</MainLayout>
