---
import { Image } from "astro:assets";
import { formatDate } from "~/presentation/src/shared/utils/utils";
import type { CollectionEntry } from "astro:content";
import { useI18nStatic } from "~/presentation/src/shared/hooks/useI18n";
import { PAGES } from "~/presentation/src/shared/constants/constants";
import SlugHelper from "~/presentation/src/shared/utils/SlugHelper";

type Props = {
  postEntry: CollectionEntry<"posts">;
};
const props = Astro.props;

const { currentLocale } = useI18nStatic(Astro.url);
const postHref = `${PAGES.post.paths[currentLocale]}${SlugHelper.slugify(props.postEntry.data.title)}/`;
---

<!-- The following anchor tag is the main container for the card.
     It's a link to the post post detailed page.
     The data-astro-prefetch is an Astro specific Dynamic HTML feature,
     which automatically prefetches the linked page to speed up navigation. -->
<a
  class="group relative block rounded-xl outline-none ring-zinc-500 transition duration-500 focus-visible:ring dark:ring-zinc-200 dark:focus:outline-none"
  href={postHref}
  data-astro-prefetch
>
  <!-- The container for the post post's cover image. Uses astro:assets' Image for image source -->
  <div
    class="relative h-[350px] w-full flex-shrink-0 overflow-hidden rounded-xl before:absolute before:inset-x-0 before:z-[1] before:size-full before:bg-gradient-to-t before:from-neutral-900/[.7]"
  >
    <Image
      class="absolute start-0 top-0 size-full object-cover transition duration-500 group-hover:scale-110"
      src={props.postEntry.data.cardImage}
      alt={props.postEntry.data.cardImageAlt}
      draggable={"false"}
      loading={"eager"}
      format={"webp"}
    />
  </div>
  <!-- The container for the post author's avatar and associated metadata (author name and publication date) -->
  <div class="absolute inset-x-0 top-0 z-10">
    <div class="flex h-full flex-col p-4 sm:p-6">
      <div class="flex items-center">
        <div class="ms-2.5 sm:ms-4">
          <p class="text-xs text-neutral-50/[.8]">
            {formatDate(props.postEntry.data.pubDate)}
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- The container for the post post's title and description -->
  <div class="absolute inset-x-0 bottom-0 z-10">
    <div class="flex h-full flex-col p-4 sm:p-6">
      <h3 class="text-balance text-lg font-bold text-neutral-50 group-hover:text-neutral-50/[.8] sm:text-3xl">
        {props.postEntry.data.title}
      </h3>
      <p class="mt-2 text-pretty text-neutral-50/[.8]">
        {props.postEntry.data.description}
      </p>
    </div>
  </div>
</a>
