---
import { Image } from "astro:assets";
import { formatDate } from "~/presentation/src/shared/utils/utils";
import type { CollectionEntry } from "astro:content";
import { useI18nStatic } from "~/presentation/src/shared/hooks/useI18n";
import { PAGES } from "~/presentation/src/shared/constants/constants";
import StringExtensions from "~/core/acore-ts/data/string/StringExtensions";

const { postEntry } = Astro.props;

type Props = {
  postEntry: CollectionEntry<"posts">;
};

const { currentLocale } = useI18nStatic(Astro.url);

const postHref = `${PAGES.post.paths[currentLocale]}${StringExtensions.slugify(postEntry.data.title)}/`;
---

<a
  class="group block rounded-xl outline-none ring-zinc-500 transition duration-300 focus-visible:ring dark:ring-zinc-200 dark:focus:outline-none"
  href={postHref}
  data-astro-prefetch
>
  <div>
    <Image
      class="aspect-video rounded-xl"
      src={postEntry.data.cardImage}
      alt={postEntry.data.cardImageAlt}
      draggable={"false"}
      format={"webp"}
    />
    <h3
      class="mt-2 text-balance text-lg font-medium text-neutral-800 group-hover:text-orange-400 dark:text-neutral-300 dark:group-hover:text-neutral-50"
    >
      {postEntry.data.title}
    </h3>
    <p class="mt-2 text-sm text-neutral-600 dark:text-neutral-400">
      {formatDate(postEntry.data.pubDate)}
    </p>
  </div>
</a>
