---
// Import the necessary modules
import { Image } from "astro:assets";
import PrimaryCTA from "~/presentation/shared/components/ui/buttons/PrimaryCTA.astro";
// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle: string;
  img: {
    src: ImageMetadata;
    alt: string;
  };
  btnExists?: boolean;
  btnTitle?: string;
  btnURL?: string;
}
// Destructure the props passed to the Astro component
const { title, subTitle, img, btnExists, btnTitle, btnURL } = Astro.props;
---

<!-- The root section of the component -->
<section class="mx-auto mt-10 max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full">
  <div class="grid items-center gap-6 lg:grid-cols-2">
    <div>
      <h2 class="mb-4 text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-3xl">
        {title}
      </h2>
      <p class="mb-8 text-neutral-600 dark:text-neutral-400">
        {subTitle}
      </p>
      {
        btnExists && (
          <div class="flex flex-col space-y-4 sm:flex-row sm:space-x-4 sm:space-y-0">
            <PrimaryCTA title={btnTitle} url={btnURL} />
          </div>
        )
      }
    </div>
    <div class="relative ml-4">
      <Image src={img.src} alt={img.alt} class="aspect-[4/3] w-full rounded-xl object-cover" />
    </div>
  </div>
</section>
